body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header, figure {text-align: center;}

nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d3d3d3;
}

figcaption {
  font-size: 75%;
  text-align: center;
}

#featured-property {
  width: 800px;
}



